body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 8px;
}
  
body::-webkit-scrollbar-track {
    background: #ac99be00;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #AC99BE;
    border-radius: 20px;
    /* border: 2px solid rgb(255, 255, 255);  */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 18px 25px;
    /* box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px; */
}

.navbar-logo img {
    height: 90px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: #a49cb4;
    text-decoration: none;
    font-size: 25px;
}

.navbar-links a:hover {
    color: #49405F;
    transition: all 0.5s;
    text-decoration: none;
}

.container{
    margin: 0 auto;
    height: 100%;
}

.container-primario img{
    width: 100%;
}

.container-secundario {
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: -4px;
}

.left-block {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    /* a baixo estou utilizando para centralizar a imagem */
    display: flex;
    justify-content: center;
}

.imagem{
    max-width: 100%;
    height: auto;
}

.right-block {
    background-color: #AC99BE; /* Lilás */
    height: 100%;
    width: 50%;
}

.container-terceiro {
    margin: 0 auto;
    background-color: #E9DBF6;
    background-image: url(../IMG/ImagemTransparente.png);
    height: 100%;
    padding: 140px;
}

.container-terceiro h3{
    color: #382F4D;
    font-size: 35px;
}

.container-terceiro p{
    color: #382F4D;
    font-size: 23px;
}

.container-quarto{
    background-image: url(../IMG/BannerFundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
}

.endereco{
    width: 50%;
    height: auto;
    align-content: space-around;
    margin: 50px;
}

.endereco h3{
    color: #49405F;
    font-size: 35px;
    margin-bottom: 0;
}

.endereco ul{
    color: #49405F;
    margin-left: -19px;
}

.endereco li{
    color: #49405F;
    font-size: 20px;
}

.location{
    /* height: 100%; */
    width: 100%;
    display: flex;
    margin: 50px;
}

.mapa{
    margin: 0 auto;
    /* height: 80%; */
    width: 100%;
    justify-content: center;
}

.mapa iframe {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: #7D7D7D 1px solid;
}

.rodape{
    background-color: #AC99BE;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.rodape-text{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .rodape-text img{

} */

.rodape-text p{
    color: white;
    font-size: 18px;
}

@media (max-width: 800px){

    .container-secundario {
        width: 100%;
        height: 350px;
        display: flex;
        margin-top: -4px;
    }

    .container-terceiro {
        margin: 0 auto;
        background-color: #E9DBF6;
        background-image: url(../IMG/ImagemTransparente.png);
        height: 100%;
        padding: 120px;
    }


    .container-terceiro h3 {
        color: #382F4D;
        font-size: 30px;
    }

    .container-terceiro p {
        color: #382F4D;
        font-size: 17px;
    }

    .endereco h3 {
        color: #49405F;
        font-size: 27px;
        margin-bottom: 0;
    }

    .endereco li {
        color: #49405F;
        font-size: 17px;
    }

}

/* INICIANDO RESPONSIVIDADE */

@media (max-width: 600px) {
    
    .navbar {
        display: block;
        background-color: #ffffff;
        padding: 18px 25px;
        text-align: center;
    }

    .navbar-links {
        display: grid;
    }

    .imagem {
        max-width: 83%;
        height: 90%;
        margin-top: 10px;
        margin-left: 15px;
    }

    .container-secundario {
        width: 100%;
        height: 230PX;
        display: flex;
        margin-top: -4px;
    }

    .container-terceiro {
        margin: 0 auto;
        background-color: #E9DBF6;
        background-image: url(../IMG/ImagemTransparente.png);
        height: 100%;
        padding: 60px;
    }

    .container-terceiro h3 {
        color: #382F4D;
        font-size: 24px;
        margin-top: 10px;
    }

    .container-terceiro p {
        color: #382F4D;
        font-size: 13px;
    }

    .endereco {
        /* width: 50%;
        height: auto;
        align-content: space-around; */
        margin: 10px;
    }

    .endereco h3 {
        color: #49405F;
        font-size: 23px;
        margin-bottom: 0;
    }

    .endereco li {
        color: #49405F;
        font-size: 14px;
        /* margin-left: 0px; */
    }

    .location{
        display: none;
    }

    .container-quarto {
        background-image: url(../IMG/BannerFundo.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
    }

    .rodape-text p {
        color: white;
        font-size: 13px;
    }

    .insta {
        width: 42px;
        height: 42px;
    }

    .tel {
        width: 36px;
        height: 36px;
    }

}